*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./Assets/parchment_seamless.jpg) repeat;
    font-family: 'Crimson Pro', serif;
    overflow-x: hidden;
}

button {font-family: inherit; all: unset;}

.hidden {
    opacity: 0; 
    transition: all 1s ease;
}
.show {opacity: 1}

.section {
    margin: 1rem auto;
    padding: 3rem 5rem;
    max-width: 70rem;
}

.title-section {
    margin: auto;
}

.logo-container {
    display: grid;
    place-items: center;
    gap: 5em;
}

.logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 120vh;
    width: 100vw;
    mix-blend-mode: darken;
    -webkit-mask-image: url(./icons/logo.png);
    mask-image: url(./icons/logo.png);
    -webkit-mask-size: 40% 50%;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
}

.intro {
    font-size: 1.75rem;
    width: 100%;
}
