*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./Assets/parchment_seamless.jpg) repeat;
    font-family: 'Crimson Pro', serif;
    overflow-x: hidden;
}

button {font-family: inherit; cursor: pointer;}

video::-webkit-media-controls {
    display: none;
}

.hidden {
    opacity: 0; 
    transform: translate(-10%, -1%) scale(.4);
    transition: all 1s ease;
}
.show {
    transform: translate(0%, 0%) scale(1);
    opacity: 1
}

.section {
    display: grid;
    place-items: center;
    margin: 1rem;
    padding-inline: 5rem;
}

.min-width {padding-inline: 10vw;}

.info {
    opacity: 0;
    position: relative;
    animation: dissolve-in 1ms 4s linear forwards;
}

.logo {
    width: 40vw;
    height: 40vw;
    max-width: 700px;
    max-height: 700px;
    object-fit: cover;
    background: black;
    mix-blend-mode: multiply;
    -webkit-mask-image: url(./icons/logo.png);
    mask-image: url(./icons/logo.png);

    mask-size: contain;
    mask-position: center center;
    mask-repeat: no-repeat;

    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
}

.logo.animation-end {
    animation: 
        forwards fade-to-black 3s ease,
        forwards shrink 2s ease;
        ;
}

@keyframes shrink {
    100% {
        width: 20vw;
        height: 20vw;
        max-width: 350px;
        max-height: 350px;
    }
}

.skip-animation {
    background: transparent;
    border: none;
    border-bottom: 1px black solid;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 300;
    align-self: left;
    cursor: pointer;
}

.no-center {
    place-items: start;
}

section.words {
    margin: auto;
    width: 100vw;
    padding: 0;
    height: 50vw;
    opacity: 0;
    transition: all 1s ease;
}

section.words > *.spin-mode {
    grid-area: 1/1;
}

hr {
    height: .1em;
    width: 0%;
    margin: auto;
    opacity: 0;
    background: radial-gradient(black, transparent 80%);
    border: none;
    transition: all 1s ease;
}

hr.active {opacity: 1; width: 100%}

.buttons {
    position: relative;
    display: grid;
    gap: 2rem;
}

.clicked {transform: scale(1.2);}

.words-speed, .words-viewing-mode, .words-speed > button {
    justify-content: center;
    display: flex;
    background: none;
    border: none;
    gap: 1.5rem;
    font-size: 2rem;              
}

.words-viewing-mode {
    z-index: 1;
    cursor: pointer;
    font-size: 2.25rem;
    transition: transform 200ms ease;
}

.words-viewing-mode:hover {transform: scale(1.1)}

.words-viewing-mode > button:nth-child(1) {width: 80%}
.words-viewing-mode > button:nth-child(2) {width: 20%}

.words-viewing-mode > button {
    background: transparent;
    border: none;
    font-size: inherit;
}

.words-speed > button {font-size: 3rem; transform: scale(1); transition: 50ms all ease;}

.spin-container-one.spin-mode, .spin-container-two.spin-mode {
    position: relative;
    width: 80%;
    height: 100%;
}

.spin-container-two.spin-mode {
    width: 50%;
    height: 60%;
}

.word.spin-mode {
    position: absolute;
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
    transform: translate(-50%, -50%);
    transition: all 200ms;
}

.word.spin-mode:hover {
    cursor: pointer;
    transform: scale(1.3) translate(-40%, -40%); 
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.233));
    opacity: 1;
}

.word {
    transition: all 0.1ms ease;
}

section.words.section-list-mode {
    margin: 1rem;
    padding-inline: 5rem;
    height: auto;
}

.section-list-mode {
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: dissolve-in 1s 20s ease forwards;
}

.container-list-mode {
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.word-list-mode {
    font-size: 1.75rem;
    font-weight: 500;
    transition: all 200ms ease;
}

.word-list-mode:hover {
    cursor: pointer;
    transform: scale(1.2) translate(1rem, 0);
}

.intro {
    font-size: 1.5rem;
    width: 100%;
    padding-bottom: 1.5rem;
}

.info > .continue-reading {display: none;}

@media (max-width: 800px) {
    .intro {
        position: relative;
        max-height: 40vh;
        overflow: hidden;
        background: linear-gradient(black 30vh, transparent 40vh);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    .intro.expanded {
        max-height: 100%;
        background: transparent;
       -webkit-background-clip: unset;
       -webkit-text-fill-color: black;
    }
}

@media (max-width: 650px) {
    .logo {
        width: 70vw;
        height: 70vw;
    }
    section:has(.logo) {
        padding-inline: 2rem;
    }

    .intro {
        font-size: 1.125rem;
    }

    section.words > div > span {
        font-size: 1.5rem;
    }
    section.words.section-list-mode {
        margin: .5rem;
        padding: 0;
    }
}

@keyframes dissolve-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-to-black {
    0% {
        -webkit-filter: brightness(1);
        filter: brightness(1);
    }
    100% {
        -webkit-filter: brightness(0);
        filter: brightness(0);
    }
}
