:root {
    --padding: 1.2rem;
    --font-size-small: 1rem;
}

.unscrollable {overflow: hidden;}

.insight-panel {
    position: fixed;
    scroll-behavior: smooth;
    inset: 2.5rem;
    border-radius: var(--padding);
    border: 2px solid #FFF;
    background: #EFD4A9;
    z-index: 100;

    padding: var(--padding);

    display: flex;
    gap: var(--padding);
    overflow: auto;
}

.padding-bottom {
    left: 0;
    right: 0;
    background: transparent;
    white-space: pre;
    height: 20vh;
    opacity: 0;
}

.insight-panel::-webkit-scrollbar, .par::-webkit-scrollbar, .text::-webkit-scrollbar {
    width: 1em;
}

.insight-panel::-webkit-scrollbar-track, .par::-webkit-scrollbar-track, .text::-webkit-scrollbar-track {
    border-radius: var(--padding);
    box-shadow: inset 0 0 .2rem rgba(0, 0, 0, 0.2);
}

.insight-panel::-webkit-scrollbar-thumb, .par::-webkit-scrollbar-thumb, .text::-webkit-scrollbar-thumb{
    height: 10px;
    border-radius: var(--padding);
    background: rgba(255, 255, 255, 0.5)
}

.insight-panel > .default-styling {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    justify-content: center;
    padding: var(--padding);
    border-radius: var(--padding);
    gap: var(--padding);
}

.insight-panel > .raw {
    width: 90vw;
}

.insight-panel > div > div:not(.par) {
    border-radius: var(--padding);
}

.raw > .word > h1 {
    font-size: 10rem;
    font-weight: 400;
    margin-top: -0.1em;
}

.raw > .listen {
    height: 7.5%;
    display: flex;
    gap: 4rem;
    width: 100%;
    align-items: center;
}

.text {display: flex; gap: .75rem;}

.listen > .text > button {
    display: flex;
    align-items: center;
    gap: .3em;
    font-weight: 500;
    font-size: 2.5rem;
    cursor: pointer;
    background: transparent;
    border: none;
}

.auto-scroll {position: relative;}

.auto-scroll > img:first-child {
    filter: brightness(0.8); 
    transition: filter 500ms ease;
    mix-blend-mode: hard-light;
}

.caption {
    position: absolute;
    top: -160%;
    right: -275%;
    height: 200%;
}

.caption.mobile-position {
    top: auto;
    right: auto;
    bottom: -160%;
    left: -290%;
}

.auto-scroll.active > img:first-child {filter: brightness(0); mix-blend-mode: normal;}

.listen-controls {display: flex; gap: 1rem;}

.listen-controls > button {
    background: transparent;
    outline: none;
    border: none;
}

.listen-controls > button > img:not(.caption) {
    height: 2rem;
}

.listen > .text > img {
    height: 2.125rem; 
    transform: translateY(.3rem);
}

.timeline {
    -webkit-appearance: none;
    width: 15rem;
    margin-top: -.3rem;
    background: transparent;
}

.timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    border: 1px solid black;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: calc(15rem * -0.02);
    box-shadow: 0 .1rem .2rem black;
}
.timeline:focus {outline: none}
.timeline::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.timeline::-webkit-slider-runnable-track {
    width: 100%;
    height: .3rem;
    cursor: pointer;
    background: black;
    border-radius: 1rem;
    box-shadow: 0 .1rem 2rem rgba(0, 0, 0, 0.3);
}

.br {
    height: 1em;
    width: 100%;
}

.raw > .par {
    height: 75%;
    overflow: auto;
    scroll-behavior: smooth;
    font-size: var(--font-size-small);
}

.generated > div {
    position: relative;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.35);
}

.generated > .bible {
    gap: var(--padding);
    transition: all 1s ease;
    /* max-height: 100%; */
}

.verse {
    font-size: 2.75rem;
    width: 80%;
    font-weight: 400;
    white-space: nowrap;
}

.text {
    text-align: left;
    font-weight: 200;
    /* overflow: auto; */
}

.read-full {
    height: 15%;
    text-decoration: underline;
    cursor: pointer;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

.translation {
    font-size: 1.125rem;
    position: absolute;
    right: var(--padding);
    top: .5rem;
    width: 20%;
    white-space: nowrap;
    text-align: right;
    border-radius: var(--padding);
    font-weight: 200;
}

.wiki {
    overflow: hidden;
    max-height: 400px;
    height: fit-content;
    border-radius: var(--padding);
    background: transparent;
}

.wiki > div {
    position: absolute;
}

.wiki > div:not(.image, .bg-blur) {
    border-radius: var(--padding);
    z-index: 5;
}

.image {
    z-index: 4;
    transform: translate(-30%, -10%);
    object-fit: contain;
    width: 60%;
    background: rgb(240, 182, 128);
    mask-image: url(./Assets/image-mask.png);
    mask-size: contain;
    mask-position: 2rem 2rem;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(./Assets/image-mask.png);
    -webkit-mask-size: 90%;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

.bg-blur {
    position: absolute;
    inset: 0;
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/William_wilberforce.jpg/640px-William_wilberforce.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px) brightness(0.3) saturate(2);
    transform: scale(1.2);
    z-index: 1;
}

.title {
    right: var(--padding);
    top: var(--padding);
    text-align: right;
    font-size: 2.75rem;
    font-weight: 200;
    color: white;
    width: 80%;
    height: 15%;
    white-space: nowrap;
}

.info-text {
    width: 60%;
    height: 60%;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2em;
    top: calc(2rem + 12.5%);
    overflow: hidden;
    right: 1rem;
}

.insight-panel > .generated > .wiki > .info-text {
    border-radius: 0;
    background: linear-gradient(white 80%, transparent 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.continue-reading {
    display: flex;
    justify-content: space-evenly;
    left: 15%;
    bottom: var(--padding);
    width: 70%;
    height: 12.5%;
}

.continue-reading > a {
    width: auto;
    font-size: 2.5rem;
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-weight: 400;
}

.background-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: 50;
}

.return-to-words {
    position: fixed;
    bottom: calc(2.5rem + 2px);
    left: calc(2.6rem + 2px);
    right: calc(2.6rem + 2.1em + 1.5px);
    border-radius: var(--font-size-small);
    height: 4em;
    padding-bottom: 1em;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: #EFD4A9;
    box-shadow: 0 -1em 10px #EFD4A9;
}

.return-to-words > svg {
    height: 1.5em;
    transform: translateY(.3em)
}

.return-to-words > span {
    white-space: nowrap;
    font-size: 2.5rem; 
    color: rgba(0, 0, 0, 0.75); 
    font-weight: 500;
    cursor: pointer
}

.bible-reference {
    font-weight: 700;
    color: black;
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;
}

.hidden {display: none !important}
.insight-panel > .raw.expanded {height: 100%; width: 100%}

@media (max-width: 1600px) {
    .insight-panel > .generated {width: 40%}
    .generated > .wiki > .title {font-size: 2.5rem;}
}

@media (max-width: 1350px) {
    .raw > .word > h1 {font-size: 8rem;}
    .insight-panel > .generated {width: 50%}
    .timeline {width: 100%;}
}

@media (max-width: 1050px) {
    .generated > .wiki > .title {font-size: 2.125rem;}
    .generated > .wiki > .continue-reading > a {font-size: 2rem;}
    .generated > .wiki > .info-text {font-size: var(--font-size-small); top: calc(2rem + 7.5%)}
    .generated > .bible > .verse {font-size: 2.125rem;}
    .generated > .bible > .text {font-size: var(--font-size-small);}
}

@media (max-width: 900px) {
    .generated > .wiki > .image {transform: translate(-25%, 5%);}
    .generated > .wiki > .title {top: 1rem; right: unset; font-size: 2.5rem; width: 90%;}
    .generated > .wiki > .info-text {top: calc(2rem + 12.5%);}
}

@media (min-width: 1201px) {
    .padding-bottom {display: none}
    .insight-panel > .generated {height: 90%}
    .return-to-words {
        box-shadow: none;
        width: 20%;
        bottom: 3.5rem;
        left: unset;
        right: calc(4rem + 1.5px);
    }
}

@media (max-width: 1200px) {
    .raw > .word > h1 {font-size: 15vw;}
    .insight-panel {
        flex-direction: column;
        inset: 2.5rem;
    }
    .insight-panel > .raw {
        width: 100%;
    }
    .insight-panel > .generated {
        width: 100%;
        flex-direction: row;
    }
    .generated > div {
        width: 50%;
        height: 40vh;
    }
    .generated > .bible {height: 40vh}
    .generated > .bible > .read-full {margin-top: auto}
}

@media (max-width: 850px) {
    .insight-panel {inset: var(--font-size-small)}
    .generated {height: fit-content}
    .return-to-words {
        bottom: calc(var(--font-size-small) + 2px);
        right: calc(var(--font-size-small) + 2px);
        left: calc(var(--font-size-small) + 2px);
        border-radius: var(--padding);
    }
    :root {
        --padding: .75rem;
    }
    .insight-panel > .generated {
        flex-direction: column;
    }
    .generated > div {
        width: 100%;
        height: 40vh;
    }
    .generated > .bible {height: fit-content;}
    .raw > .par {height: 100%;}
    .generated > .wiki {
        height: 37vh;
    }
    .generated > .wiki > .image {
        transform: none;
        transform: translateX(-10%);
        height: 120%;
        aspect-ratio: 1;
        -webkit-mask-size: 80%;
        -webkit-mask-position-y: center;
    }
    .generated > .wiki > .title {
        font-size: 3rem;
    }
    .generated > .wiki > .continue-reading {
        width: fit-content;
        gap: var(--padding);
        left: unset; 
        right: var(--padding);
        justify-content: space-around;
    }
}

@media (max-width: 600px) {
    .generated > .wiki > .title {font-size: 2.8rem;}
}

@media (max-width: 500px) {
    .raw > .listen {flex-direction: column; gap: 1.5rem; height: fit-content;}
    .raw > .listen {gap: .5rem}
    .raw > .listen > button {font-size: 2rem;}
    .raw > .listen > svg {width: 2em;}
    .generated > .wiki > .image {transform: translateX(-20%)}
    .generated > .wiki > .title {font-size: 2.125rem; width: 95%; text-align: center;}
    .generated > .wiki > .continue-reading {
        width: 90%;
        right: unset;
        gap: 1rem;
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 400px) {
    .return-to-words > span {font-size: 2rem;}
    .generated > .wiki > .title {font-size: 2rem; width: 95%; text-align: center;}
    .generated > .wiki > .info-text {font-size: 1rem;}
    .generated > .wiki > .continue-reading > a {font-size: 1.5rem;}
    .generated > .bible > .verse {font-size: 1.75rem; font-weight: 600;}
    .generated > .bible > .translation {font-size: 1.5rem; top: .8rem;}
}